
<% @posts.each do |post| %>
  <div>
    <h2><%= post.title %></h2>
    <p><%= post.description %></p>
    <p><%= post.author %></p>
    <p><%= post.tags.map(&:name) %></p>
    <a href="/posts/<%= post.id %>">See more on this post</a>
  </div>
<% end %>

<a href="Create a new post"></a>
<a href="See all tags"></a>